@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(176, 196, 194);
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0
}

.container {
    margin: 30px auto;
    width: 350px;
}

#tst,
#history {
    border-bottom: 1px solid rgb(216, 211, 211);
    padding-bottom: 2px;
    margin: 25px 0 25px;
}

h4 {
    text-transform: uppercase;
}

#balanceAmount {
    font-size: 22px;
    letter-spacing: 0.4px;
}

.inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;

}

.inc-exp-container>div {
    text-align: center;
    flex: 1;
}

.inc-exp-container>div:nth-of-type(1) {
    border-right: 1px solid rgb(214, 225, 216);
}

#income,
#expense {
    margin: 7px 0;
}

.money {
    font-size: 20px;
    letter-spacing: 0.4px;
    margin: 1px 0;
}

.money.plus {
    color: rgb(20, 227, 20)
}

.money.minus {
    color: rgb(240, 45, 45)
}

label {
    display: inline-block;
    margin: 10px 0;
    font-weight: 500;
}

input[type='text'],
input[type='number'],
input[type='date'],
select {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: block;
}

.btn {
    background-color: rgba(72, 138, 235, 0.968);
    padding: 10px;
    margin-top: 15px;
    border-radius: 1px;
    border: none;
    width: 100%;
    color: white;
    transition: 0.2s ease-in;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(1, 102, 255, 0.968)
}